# Ignore objects and archives.
*.[oa]
Makefile
Makefile.in
*.l[oa]
*.gcno
coverage_run.sh
*.gcov
*.gcda
*_suite.log
.deps
.libs
*.m4
autom4te.cache/
buildutils/config.guess
buildutils/config.sub
buildutils/depcomp
buildutils/install-sh
buildutils/ltmain.sh
buildutils/missing
buildutils/modulefiles
buildutils/modulefiles.vers
buildutils/pbs_mkdirs
buildutils/self-extract-head-sh
buildutils/ylwrap
config.log
config.status
configure
contrib/blcr/checkpoint_script
contrib/blcr/restart_script
contrib/init.d/debian.pbs_mom
contrib/init.d/debian.pbs_sched
contrib/init.d/debian.pbs_server
contrib/init.d/debian.trqauthd
contrib/init.d/pbs_mom
contrib/init.d/pbs_sched
contrib/init.d/pbs_server
contrib/init.d/trqauthd
contrib/init.d/suse.pbs_mom
contrib/init.d/suse.pbs_sched
contrib/init.d/suse.pbs_server
contrib/init.d/suse.trqauthd
*.1
*.3
*.7
*.8
doc/soelim
libtool
pbs-config
src/cmds/nqs2pbs
src/cmds/pbs_track
src/cmds/pbsdsh
src/cmds/pbsnodes
src/cmds/qalter
src/cmds/qchkpt
src/cmds/qdel
src/cmds/qdisable
src/cmds/qenable
src/cmds/qgpumode
src/cmds/qgpureset
src/cmds/qhold
src/cmds/qmgr
src/cmds/qmove
src/cmds/qmsg
src/cmds/qorder
src/cmds/qrerun
src/cmds/qrls
src/cmds/qrun
src/cmds/qselect
src/cmds/qsig
src/cmds/qstart
src/cmds/qstat
src/cmds/qstop
src/cmds/qsub
src/cmds/qterm
src/daemon_client/trqauthd
src/drmaa/Doxyfile
src/include/pbs_config.h*
src/include/site_job_attr_def.h
src/include/site_job_attr_enum.h
src/include/site_qmgr_node_print.h
src/include/site_qmgr_que_print.h
src/include/site_qmgr_svr_print.h
src/include/site_que_attr_def.h
src/include/site_que_attr_enum.h
src/include/site_svr_attr_def.h
src/include/site_svr_attr_enum.h
src/include/stamp-h1
src/momctl/momctl
src/resmom/pbs_demux
src/resmom/pbs_mom
src/scheduler.cc/pbs_sched
*.swp
src/server/pbs_server
src/tools/chk_tree
src/tools/hostn
src/tools/pbs_tclsh
src/tools/printjob
src/tools/printserverdb
src/tools/printtracking
src/tools/tracejob
tags
torque.spec

